@use 'fonts';

$primary-color: #5c8984;
$secondary-color: #545577;
$accent-color: #f2d8d8;
$body-text-color: #fff;
$heading-font-family: 'alataregular', helvetica, arial;
$body-font-family: 'alataregular', helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400;

