@use '../abstracts' as a;

#main-header {
    background-color: #fff;
    margin-bottom: 20px;

    #logo {
        display: block;
        height: 55px;
        max-width: 300px;
        margin-top: 60px;
        margin-right: auto;
        margin-left: auto;
    }

    #main-nav {
        margin-top: 40px;
    }

    #main-nav button {
   width: 30px;
   height: 30px;
   background: url(../images/burger.svg) no-repeat center;
   margin-top: 15px;
   margin-bottom: 20px;
   transition: all .5s ease;
   border: 0;
   cursor: pointer;
}

#main-nav button.expanded {
   transform: rotate(90deg);
}

#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
}

#burger-con.slide-toggle {
   display: block;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 5px 0 10px 0;
   text-align: center;
   color: #F2D8D8;
   text-decoration: none;
}

#main-nav ul li a:hover {
   color: #545B77;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

}

@media screen and (min-width: 768px) {

    #main-header {
        #main-nav ul {
            justify-content: flex-end;

        }

        #logo {
            margin-left: 0;
            margin-right: 0;
            margin-top: -65px;
            
        }
    }

   #button {
      display: none;
   }

   #burger-con {
      display: block;
      font-size: 13px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
      border: none;
      display: inline;
   }

   #main-nav ul li a {
      display: inline;
   }

   #burger-con ul li {
      margin-right: 10px;
   }

   #burger-con ul li:last-child {
      margin-right: 0;
   }
   
}
