
@use '../abstracts' as a;

.heroimg {
    max-width: 40%;
    margin-left: 100px;
    margin-top: 30px;
}

#social-media {
    text-align: center;
    color: a.$accent-color;
}

#social-media i {
    font-size: 32px;
    margin-bottom: 60px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#social-media i:hover {
    color: #5b588f;
}

.link-item {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}



#player-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

#atributes div {
    height: 300px;
    margin-bottom: 300px;
}

#atributes img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.imagenAnimada img {
    margin-top: 20px;
}


.imagen-container {
    position: relative;
}


.hidden-text {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    background-color: rgba(42, 37, 105, 0.887);
    padding: 10px;
    margin: 0;
    display: none; 
    font-size: 16px;
}

.hidden-text2 {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    background-color: rgba(42, 37, 105, 0.887);
    padding: 10px;
    margin: 0;
    display: none; 
    font-size: 16px;
    transform: translateX(-5%); 
}

.imagenAnimada.image-wrapper {
    position: relative;
    display: inline-block; 
    width: 100%; 
}

.imagenAnimada.image-wrapper:hover .hidden-text {
    display: block; 
}

.imagenAnimada.image-wrapper:hover .hidden-text2 {
    display: block; 
}

.thumbnail {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
}

.portfolio-image {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    padding: 20px;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px;
}

.project-gallery {
    text-align: center;
}

.description {
color: #393759;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   padding: 20px;
}

.back {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.back a:hover {
    background-color: a.$primary-color;
    cursor: pointer;
}


h1 {
    font-size: 70px;
    font-weight: 300;
    text-align: center;
    color: a.$accent-color;
}

h2, h3 {
    text-align: center;
    font-family: a.$heading-font-family;
}


#options {
    margin-top: 50px;
}

#options img {
  border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

#options p {
    margin-left: 40px;
}

#options a {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 100px;
    margin-right: 100px;
}

#options a:hover {
    background-color: a.$primary-color;
    cursor: pointer;
}

#caracteristics {
    margin-bottom: 80px;
}

#caracteristics a {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 250px;
    margin-top: 300px;
}

#caracteristics a:hover {
    background-color: a.$primary-color;
    cursor: pointer;
}

#caracteristics img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#contact-image {
    display: block; 
    margin: 0 auto; 
    max-width: 50%;
  }

#driverForm {
    color: #393759;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-top: 40px;
    position: relative;
}

#message {
    height: 150px;
}

#submit {
    margin-bottom: 40px;
}

.link-container a {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
      
}

.link-container a:hover {
    cursor: pointer;
    background-color: a.$primary-color;
}



@media screen and (min-width: 768px) 

{
    .heroimg {
    max-width: 30%;
    margin-left: 500px;
    position: absolute;
}

#hero-con h2 {
    font-size: 40px;
}

.link-container a {
    margin-left: 10px;
 }

#hero-con a {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 330px;
}

#hero-con a:hover {
    background-color: a.$primary-color;
    cursor: pointer;
}

#options a {
    margin-left: 450px;
    margin-right: 450px;
}

#contact-form form {
    margin-left: 750px;
}

#contact-form img {
    position: absolute;
    margin-top: -350px;
    margin-left: -350px;
}

.back {
    color: a.$accent-color;
    padding: 6px;
    background-color: a.$secondary-color;
    border-radius: 5px;
    font-family: a.$body-font-family;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.back a:hover {
    background-color: a.$primary-color;
    cursor: pointer;
}

#message {
    width: 70%;
    height: 150px;
    
}

#contact-image {
    max-width: 100%;
    margin-top: 60px;
    margin-left: 30px;   
}

.description {
   margin-left: 100px;
   margin-right: 100px;
}

}

@media screen and (min-width: 1200px) 

{
    .heroimg {
    max-width: 30%;
    margin-left: 800px;
    position: absolute;
}

.link-container a {
    margin-left: -10px;
   
 }
}

@media screen and (min-width: 1600px) 

{
    .heroimg {
    max-width: 30%;
    margin-left: 1000px;
    position: absolute;
}
}

@media screen and (min-width: 1920px) 

{
    .heroimg {
    max-width: 30%;
    margin-left: 1100px;
    position: absolute;
}
}