img, embed, object, video {
max-width: 100%;
}

.hidden {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 22px;
    color: 	#565656;
    /*height: 100%;*/
}

#container {
    max-width: 1280px;
    margin: 0 auto;	
    background-color: #785EF0;
    height: 100%;
}